
/* Add comment with  ctrl-/   (ctrl-shift-7) */


/* call classes with . */
.blue {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 100%;
    background-color:burlywood;
    padding: 1%;
    margin: 5px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin-left: 40%;
    margin-right: 40%;
    
}

#first_name, #last_name {
    color: black;
}

.input_field {
    padding: 3px;
}

.newsletter_form {
    text-align: center;
    border-style: solid;
    border-color: darkgray;
    margin-right: 60%;
    }

.biography {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 100%;
    background-color:rgb(201, 188, 171);
    padding: 1%;
    margin: 5px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin-left: 0%;
    margin-right: 0%;
    
}
/* call id with # */
#test {
    color: aqua;;
    text-align: center;
    

}
body {
    background-color: bisque;

}

a:link { color: rgb(202, 96, 34); }
a:hover { color: rgb(138, 67, 27); }

.dark-mode a:link { color: lightskyblue; }
.dark-mode a:visited { color: #6d4b8d; }
.dark-mode a:hover { color: #ffffff; }
.dark-mode a:active { color: #ff4040; text-decoration:none; font-weight:normal; }
.dark-mode .biography{color: #ffffff; background-color: rgb(110, 102, 102);}
.dark-mode {
    background-color:rgb(35, 41, 41);
    color: rgb(179, 162, 162);
    
  }

